result/
**__pycache__**
**build**
**egg-info**
**dist**
data/
*.pyc
venv/
*.idea/
*.so
*.yaml
*.sh 
*.pth
*.pkl
*.zip
*.bin
.vscode/
#boost*
#boost_1_77_0/

CenterPoint/configs/nusc/pp/nusc_centerpoint_pp_02voxel_two_pfn_10sweep_circular_nms.py
CenterPoint/configs/nusc/voxelnet/nusc_centerpoint_voxelnet_0075voxel_fix_bn_z.py
CenterPoint/det3d/core/bbox/geometry.py
CenterPoint/det3d/core/input/voxel_generator.py
CenterPoint/det3d/core/sampler/preprocess.py
CenterPoint/det3d/core/sampler/sample_ops.py
CenterPoint/det3d/datasets/pipelines/loading.py
CenterPoint/det3d/datasets/pipelines/preprocess.py
CenterPoint/det3d/datasets/pipelines/formating.py
CenterPoint/data
CenterPoint/semantic_pred
CenterPoint/work_dirs/nusc_centerpoint_pp_02voxel_two_pfn_10sweep
CenterPoint/work_dirs/nusc_centerpoint_voxelnet_0075voxel_fix_bn_z
CenterPoint/_nusx_infos.txt
CenterPoint/lidarpath2setoken.txt
CenterPoint/tmp.txt
CenterPoint/try_run.py
*txt
